@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-bg-color--);
}

body {
  width: 100%;
  height: 100vh;
}

.liteMode {
  --filterMenu--: #FFFFFF;
  --body-bg-color--: #FFFFFF;
  --border-color--: gray;
  --title-color--: #111517;
}

.darkMode {
  --filterMenu--: #2B3844;
  --body-bg-color--: #202C36;
  --title-color--: #FFFFFF;
  --cards-bg-color--: #2B3844;
}

.headerButton {
  border-style: none;
}

.headerContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

}

.headerTitle {
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--title-color--);
  cursor: pointer;

}

.headerContainer>span {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--title-color--);
  cursor: pointer;
}

.cards>img {
  width: 264px;
  height: 160px;
  border-radius: 8px;

}

.cards {
  width: 264px;
  height: 336px;
  box-shadow: 0px 0px 15px 0px var(--border-color--);
  border-radius: 8px;
  text-align: center;
  background-color: var(--cards-bg-color--);
}

.cardsContainer {
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 110px;
  margin-top: 30px;
  gap: 74px;
}

.cards>h1 {
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-left: 25px;
  margin-top: 15px;
  position: absolute;
  color: var(--title-color--);
  background-color: var(--cards-bg-color--);
}

.moreInfo {
  display: flex;
  margin-top: 7px;
  background-color: var(--cards-bg-color--);
}

.moreInfoContainer {
  margin-top: 60px;
  margin-left: 30px;
  background-color: var(--cards-bg-color--);

}

.moreInfo>p {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  color: var(--title-color--);
  background-color: var(--cards-bg-color--);
}

.moreInfo>span {
  font-family: Nunito Sans;
  font-weight: 350;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0px;
  color: var(--title-color--);
  background-color: var(--cards-bg-color--);
}

.searchContainer>input {
  width: 480px;
  height: 56px;
  margin-top: 30px;
  margin-left: 110px;
  border-style: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px var(--border-color--);
  background-color: var(--cards-bg-color--);
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  padding-left: 60px;
  color: var(--title-color--);
}

.searchContainer>input::placeholder {
  font-family: Nunito Sans;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  padding-left: 60px;

}


.inputSearchIcon {
  margin-left: 130px;
  margin-top: 50px;
  position: absolute;
  background-color: var(--cards-bg-color--);
}

.filterButton {
  margin-left: 1190px;
  position: absolute;
  margin-top: -60px;
  width: 200px;
  height: 56px;
  border-radius: 2px;
  border-style: none;
  box-shadow: 0px 0px 10px 0px var(--border-color--);
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  background-color: var(--cards-bg-color--);
}

.filterButtonTitle {
  color: var(--title-color--);
  background-color: var(--cards-bg-color--);
}

.filterContainer {
  box-shadow: 0px 0px 10px 0px var(--border-color--);
  margin-left: 1190px;
  border-style: none;
  border-radius: 5px;
  width: 200px;
  height: 164px;
  position: absolute;
  background-color: var(--filterMenu--);
  list-style: none;
}

.regionName {
  margin-top: 9px;
  margin-left: 15px;
  margin-top: 10px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--title-color--);
  cursor: pointer;
  background-color: var(--filterMenu--);
}

.detaleContainer {
  display: flex;
  width: 1150px;
  height: 600px;
  margin-left: 170px;
  margin-top: 55px;
}

.detailInfo {
  width: 200px;
  height: 323px;
  align-items: end;
  margin-top: 120px;
  margin-left: 60px;

}

.spansContainer>span {
  margin-top: 5px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  display: flex;
  color: var(--title-color--);
}

.spansContainer {
  margin-top: 60px;
}

.spansContainer>span>p {
  font-weight: 600;
}

.detailInfo>h1 {
  position: absolute;
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--title-color--);
}

.mainIng {
  width: 560px;
  height: 401px;
  margin-top: 70px;
}

.backButton {
  width: 136px;
  height: 40px;
  margin-top: 50px;
  margin-left: 170px;
  position: absolute;
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--title-color--);
  display: flex;
  background-color: var(--cards-bg-color--);
  border-style: none;
  box-shadow: 0px 0px 10px 0px var(--border-color--);
  border-radius: 3px;
  cursor: pointer;
}

.BackIcon {
  width: 23px;
  height: 23px;
  margin-top: 8px;
  margin-left: 30px;
  color: var(--title-color--);
  background-color: var(--cards-bg-color--);
}

.backButton>p {
  font-family: Nunito Sans;
  font-weight: 350;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--title-color--);
  margin-left: 13px;
  margin-top: 9px;
  background-color: var(--cards-bg-color--);
}

.darkModeContainer {
  cursor: pointer;
  background-color: var(--cards-bg-color--);
  display: flex;
  width: 108px;
  height: 22px;
  justify-content: space-between;
  background-color: var(--body-bg-color--);
}

.modeIcons {
  width: 16px;
  height: 16px;
}

.darkModeContainer>span {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--title-color--);
}

@media(width < 395px) {


  body {
    width: 395px;
  }

  .headerContainer {
    width: 395px;
    height: 80px;
    padding-left: 16px;
    padding-right: 20px;
  }

  .headerTitle {
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .darkModeContainer>span {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;

  }

  .darkModeContainer {
    margin-top: 16px;
  }

  .searchContainer>input {
    width: 343px;
    height: 48px;
    margin-left: 20px;
  }

  .inputSearchIcon {
    width: 16px;
    height: 16px;
    margin-left: 45px;
    margin-top: 47px;
  }

  .cardsContainer {
    width: 395px;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-top: 150px;
  }

  .cards {
    margin-left: 45px;
  }

  .filterButton {
    margin-left: 20px;
    margin-top: 65px;
    height: 48px;
  }

  .filterContainer {
    margin-left: 20px;
    margin-top: 117px;
  }

  .mainIng {
    width: 320px;
    height: 229px;
    margin-left: 0px;
    margin-left: 28px;
    border-radius: 3px;
  }

  .detaleContainer {
    display: block;
    width: 395px;
    margin-left: 0px;
    margin-top: 55px;
  }

  .backButton {
    margin-left: 28px;
    width: 104px;
    height: 32px;
    margin-top: 30px;
  }

  .BackIcon {
    width: 18px;
    margin-left: 15px;
    height: 18px;
  }

  .backButton>p {
    font-weight: 350;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 7px;
    margin-left: 15px;
  }

  .detailInfo>h1 {
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    position: absolute;
    margin-top: 10px;

  }

  .detailInfo {
    margin-top: 0px;
    margin-left: 28px;
  }

  .spansContainer {
    padding-top: 60px;
  }
}